/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
  outline: none;
}
html {
  font-size: 62.5%;
}
/* End of Default Styles */

/* Container */
.container {
  width: 100%;
  height: 100vh;
  background-color: #202020;

}
/* NavBar */
.navbar {
  width: 100%;
  height: 10rem;
  background-color: #202020;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.brand {
  position: absolute;
  top: 50%;
  left: 8rem;
  transform: translateY(-50%);
  display: flex;
}
.logo1 {
  width: 6rem;
  height: 6rem;
  border: 0.4rem solid #dba81b;
}
.logo2 {
  width: 5rem;
  height: 5rem;
  background-color: #202020;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.logo3 {
  width: 5rem;
  height: 5rem;
  border: 0.4rem solid #dba81b;
  background-color: #202020;
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.brand span {
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.3rem;
  margin: 1.5rem 0 0 3rem;
}
.search-bar {
  position: absolute;
  top: 50%;
  right: 15rem;
  transform: translateY(-50%);
}
.search-bar input {
  width: 45rem;
  height: 4rem;
  background-color: #3e3e41;
  border: none;
  padding: 2rem 2rem 2rem 4rem;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 0.5rem;
}
.search-bar input::placeholder {
  color: #ccc;
}
.search-bar i {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font-size: 1.6rem;
  color: #ccc;
}
.menu-icon {
  width: 4rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  right: 8rem;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}
.line {
  width: 4rem;
  height: 0.2rem;
  background-color: #ccc;
  transition: all 0.3s;
}
.change .line-1 {
  width: 55%;
  transform: rotateZ(-15deg) translate(-0.2rem, 0.8rem);
}

.change .line-3 {
  width: 55%;
  transform: rotateZ(15deg) translate(-0.2rem, -0.8rem);
}

.navigation {
  width: 100%;
  height: 100vh;
  background-color: #0b0b14;
  position: absolute;
  top: 100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 0.3s;
}
.change .navigation {
  top: 0;
}
.navigation a {
  font-family: 'Alfa Slab One', cursive;
  font-size: 5rem;
  color: #fff;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  position: relative;
  opacity: 0;
  visibility: hidden;
}
.change .navigation a {
  opacity: 1;
  visibility: visible;
}
.change .navigation a:nth-child(1) {
  transition: all 0.3s 0.3s;
}
.change .navigation a:nth-child(2) {
  transition: all 0.3s 0.4s;
}
.change .navigation a:nth-child(3) {
  transition: all 0.3s 0.5s;
}
.change .navigation a:nth-child(4) {
  transition: all 0.3s 0.6s;
}
.change .navigation a:nth-child(5) {
  transition: all 0.3s 0.7s;
}
.change .navigation a:nth-child(6) {
  transition: all 0.3s 0.8s;
}
.navigation a::before {
  content: '';
  width: 15rem;
  height: 0.5rem;
  background-color: #dba81b;
  position: absolute;
  top: 50%;
  left: -17rem;
  transform: translateY(-50%);
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.navigation a:hover::before {
  transform: scale(1);
}
.navigation a::after {
  content: '';
  width: 15rem;
  height: 0.5rem;
  background-color: #dba81b;
  position: absolute;
  top: 50%;
  right: -17rem;
  transform: translateY(-50%);
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s;
}
.navigation a:hover::after {
  transform: scale(1);
}
/* End of NavBar */
/* Landing */
.landing {
  width: 100%;
  height: 90vh;
  position: relative;
}
.landing-img {
  width: 92%;
  height: 70vh;
  position: absolute;
  top: 11rem;
  left: 50%;
  transform: translateX(-50%);
}
.landing-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}
.banner {
  position: absolute;
  bottom: 15rem;
  left: 20rem;
}
.banner-heading {
  font-size: 9rem;
  color: #fff;
}
.banner-heading span {
  font-family: 'Alfa Slab One', cursive;
  font-size: 8rem;
  color: #dba81b;
  letter-spacing: 0.5rem;
}
.banner-content {
  display: flex;
  align-items: center;
}
.banner-content p {
  width: 45rem;
  font-size: 2rem;
  color: #fff;
  margin-right: 2rem;
}
.banner-content button {
  width: 15rem;
  height: 5rem;
  background-color: transparent;
  border: 0.3rem solid #fff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}
/* End of Landing */
/* About */
.about {
  width: 100%;
  height: 75vh;
  background-color: #313133;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.about-left h1 {
  font-size: 5rem;
  color: #fff;
  width: 50rem;
  margin-bottom: 6rem;
}
.about-left p {
  font-size: 2rem;
  color: #fff;
  width: 50rem;
  margin-bottom: 5rem;
}
.about-left button {
  width: 18rem;
  height: 5rem;
  background-color: transparent;
  border: 0.2rem solid #dba81b;
  color: #dba81b;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.frame {
  width: 50rem;
  height: 35rem;
  border: 3rem solid #555;
  position: absolute;
  top: 15rem;
  right: 40rem;
}
.about-img-wrapper {
  width: 50rem;
  height: 35rem;
  position: absolute;
  top: 8rem;
  right: 33rem;
}
.about-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-bottom {
  position: absolute;
  bottom: 2rem;
  right: 33rem;
  height: 12rem;
  border-right: 1rem solid #dba81b;
  text-align: right;
  padding-right: 2rem;
}
.section-bottom h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 6rem;
  color: #555;
  letter-spacing: 0.5rem;
}
.section-bottom h3 {
  font-size: 2.5rem;
  color: #fff;
}
/* End of About */

/* Projects */
.projects{
  width: 100%;
  height:100vh;
  position: relative;
  background-color: #202020;
}
.projects-heading{
  font-size: 8rem;
  color: #fff;
  letter-spacing: .2rem;
  margin: 7rem 0 10 9rem;
}
.card{
  width: 32rem;
  height: 50rem;
  margin-right: 2.5rem;
  cursor: pointer;
  position: relative;
}
.cards{
  background-color: #202020;
  width: 90%;
  margin: auto;
  display: flex;
}
.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color .6s;
}

.card:hover .card-content{
  background-color: rgba(0,0,0,0.9);
}
.card-content::before{
  content: "";
  width: 92%;
  height: .1rem;
  background-color: #dba81b;
  position: absolute;
  left: 0;
  top: 2rem;
  transform: scale(0);
  transform-origin: left;
  transition: transform .8s;
}
.card:hover .card-content::before{
  transform: scale(1);
}
.card-content::after{
  content: "";
  height: 94%;
  width: .1rem;
  background-color: #dba81b;
  position: absolute;
  left: 2rem;
  top: 0;
  transform: scale(0);
  transform-origin: top;
  transition: transform .8s;
}
.card:hover .card-content::after{
  transform: scale(1);
}
.card-content h1{
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 4rem;
  left: 4rem;
  width: 15rem;
  opacity: 0;
  visibility: hidden;
  transition: all .5s .6s;
}
.card:hover .card-content h1{
  opacity: 1;
  visibility: visible;
}
.card-content p{
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  top: 13rem;
  left: 4rem;
  width: 17rem;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ;
}
.card:hover .card-content p{
  opacity: 1;
  visibility: visible;
}
.designs{
  right: 12rem;
}
/* End of Projects */
/* End of Container */
